//SASS SCSS Color Variables
$lightblue: #ccddff;
$darkblue: #001133;

$color_background: $darkblue;
$color_font: $lightblue;
//END SASS CSCC Color Varaibles

a:hover {
  color: white;
  text-decoration: none;
}
