//SASS SCSS Color Variables
$lightblue: #ccddff;
$darkblue: #001133;
$platinum: #E2EFDE;

/* Coolors Exported Palette - coolors.co/3d348b-7678ed-f7b801-f18701-f35b04 */
/* RGB */
$color1: #D7FDEC;
$color2: #81C1A6;
$color3: #B2E4DB;
$color4: #E2D3C5;
$color5: #BFB7CC;

$color_background: $color2;
$color_font: $color1;
$color_background_login: $color2;
$color_background_locinfo: $color4;
$color_background_weather: $color5;
//END SASS CSCC Color Varaibles


//HEADER FOOTER Inheritance

%header_footer_size {
  padding: 15px 15px 50px 15px;
  color: $color_font;
  background-color: $color_background;
}

footer {
  @extend %header_footer_size;
  height: 6vh;
}

header {
  @extend %header_footer_size;
  font-size: 1.5em;
  height: 3vh;
}

//END HEADER AND FOOTER

.container {

}

//Creates margins between specifc form elements
input[type=email], input[type=password], , input[type=text]{
  margin-bottom: 5px;
 }

#loginwindow {
  padding: 10px 15px 5px; 
  background-color: $color_background_login;
}

#searchwindow {
  padding: 15px 15px 15px 15px;
  background-color: $color_background_login;
}

#locwindow {
  padding: 15px 15px 15px 15px;
  background-color: $color_background_locinfo;
}

#weatherwindow {
  padding: 15px 15px 15px 15px;
  background-color: $color_background_weather;
}


a:hover {
  color: orange;
  text-decoration: none;
}


p {
  text-align: justify;
}
