{% extends "layout.html" %}

{% block title %}
    ZipWeather - Location
{% endblock %}

{% block body %}

{% if message is defined() %}
  <p></p>
  <div class="alert alert-warning col-6 mx-auto" role="alert">
    {{ message }}
  </div>
{% endif %}

<!-- CONTAINER BODY_TEXT -->

<div class="container col-4 border rounded" id="loginwindow">
  <h5>Search</h5>
  <p>enter zipcode, city or town</p>

    <form action="{{ url_for('search_result') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-row col-auto form-control-sm" name="location_input" placeholder= "zip or city">
            <button class="col-auto btn btn-primary">Search</button>
          </div>
      </form>
</div> <!-- end CONTAINER -->

<p></p>

<div class="container"> <!-- Location and Weather Container -->
  <div class="row mx-auto"> <!-- Location and Weather Row -->

    <div class="col-5 border rounded mx-auto" id="locwindow"> <!-- Location Info -->
      <strong>{{ loc_info.city.capitalize() }}, {{ loc_info.state }} {{ loc_info.zipcode }}</strong><br>
      Lat: {{ loc_info.lat }} <br>
      Lon: {{ loc_info.lon }} <br>
      Population: {{ loc_info.population }} <br>
      Number of Check-ins: {{ loc_comments|length }} <br>
    </div> <!-- end location container -->

    <div class="col-5 border rounded mx-auto" id="weatherwindow"> <!-- Weather Info -->
      <!--  timestamp_to_time|datetimeformat('%B %d, %Y %I:%M:%S %Z') -->
      Conditions as of: {{ weather.time|format_time }}<br>
      Summary: {{ weather.summary }} <br>
      Current Temp: {{ weather.temperature }} <br>
      Feels like: {{ weather.apparentTemperature }} <br>
      Humidity: {{ '%d' | format(weather.humidity*100) }}%<br>
      Wind Speed: {{ weather.windSpeed }} <br>
      Cloud Cover: {{ weather.cloudCover }}
    </div> <!-- end weather container -->

  </div> <!-- Location and Weather Row -->
</div> <!-- Location and Weather Container -->

<p></p>

<div class="row container mx-auto"> <!-- Checkins Row -->

  <table class="table table-striped">
      <thead>
          <th scope="col">Date</th>
          <th scope="col">User</th>
          <th scope="col">Comment</th>
      </thead>
      <tbody>

        {% if existing_checkin==0 %}
          <tr>
            <td>Check-in ...   </td>
            <td>{{ session["user_session"][1] }}</td>
            <td>
              <form action="{{ url_for('add_comment', zip=loc_info.zipcode) }}" method="post">

                    <!-- <div class="form-group row"> -->
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="new_comment" placeholder= "..  add your comment here ..">
                        <div class="input-group-append">
                          <button class="btn btn-info">Check-in</button>
                        </div> <!-- end button -->
                      </div> <!-- end input group -->
                    <!-- </div> end row -->

              </form>
            </td>
          </tr>
        {% endif %}

        {% for comment in loc_comments %}
        <tr>
            <td>{{ comment.cmt_date }}</td>
            <td>{{ comment.name }}</td>
            <td>{{ comment.comment }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

</div> <!-- end checkins container and row -->



<!-- end CONTAINER BODY_TEXT -->

{% endblock %}

<!-- weather
loc_info
loc_comments -->
