{% extends "layout.html" %}

{% block title %}
    ZipWeather - Register
{% endblock %}

{% block body %}

<!-- CONTAINER BODY_TEXT -->
<div class="container col-4" id="loginwindow">
  <h5>Register</h5>
  <p>Enter email, Name and password</p>

    <form action="{{ url_for('create_user') }}" method="post">
        <div class="form-group">
            <input type="email" class="form-row col-auto form-control-sm" name="user_id" placeholder= "enter email">
            <input type="text" class="form-row col-auto form-control-sm" name="user_name" placeholder= "enter your name">
            <input type="password" class="form-row col-auto form-control-sm" name="pwd" placeholder= "create password">
            <input type="password" class="form-row col-auto form-control-sm" name="pwd_conf" placeholder= "confirm password">
            <button class="col-auto btn btn-primary">Register</button>
          </div>
      </form>
</div> <!-- end CONTAINER -->

{% if message is defined() %}
  <p></p>
  <div class="alert alert-warning col-6 mx-auto" role="alert">
    {{ message }}
  </div>
{% endif %}

<!-- end CONTAINER BODY_TEXT -->

{% endblock %}
